[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reader = "*"
notify-py = "*"
requests = "*"
pysimpleguiqt = "*"
apscheduler = "*"

[dev-packages]
black = "*"
pyinstaller = {path = "F:/Downloads/Compressed/pyinstaller-4.4/dist/pyinstaller-4.4-py3-none-win_amd64.whl"}

[scripts]
build-win = "pipenv run pyinstaller --upx-dir ../upx-3.96-win64 -n JNCFeed -i media/logo.ico --add-data media/logo.ico;. --add-data media/done-for-you.wav;. --noconsole --clean jncfeed/main.py"
build-other = "pipenv run pyinstaller --upx-dir ../upx-3.96-win64 -n JNCFeed --add-data media/logo.ico:. --add-data media/done-for-you.wav:. --clean jncfeed/main.py"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
