[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reader = "*"
requests = "*"
pysimplegui = "*"
psgtray = "*"
apscheduler = "*"
winsdk = "*"

[dev-packages]
black = "*"
pyinstaller = {path = "F:/Workspace/Built Dependency/pyinstaller-4.5/dist/pyinstaller-4.5-py3-none-win_amd64.whl"}

[scripts]
build = "pipenv run pyinstaller --upx-dir ../upx-3.96-win64 -n JNCFeed -i media/logo.ico --add-data media/logo.ico;. --version-file version --hidden-import 'reader.plugins.ua_fallback' --noconsole --clean jncfeed/main.py"
dirty-build = "pipenv run pyinstaller --upx-dir ../upx-3.96-win64 -n JNCFeed -i media/logo.ico --add-data media/logo.ico;. --version-file version --hidden-import 'reader.plugins.ua_fallback' --noconsole jncfeed/main.py"
build-onefile = "pipenv run pyinstaller -F --upx-dir ../upx-3.96-win64 -n JNCFeed -i media/logo.ico --add-data media/logo.ico;. --version-file version --hidden-import 'reader.plugins.ua_fallback' --noconsole --clean jncfeed/main.py"
dirty-build-onefile = "pipenv run pyinstaller -F --upx-dir ../upx-3.96-win64 -n JNCFeed -i media/logo.ico --add-data media/logo.ico;. --version-file version --hidden-import 'reader.plugins.ua_fallback' --noconsole jncfeed/main.py"
generate-setup = "makensis setup/JNCFeedSetup.nsi"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
